/**
*
* Helpers
*
**/

.mobile-visible {
    @media #{$bm} {
        display: block;
    }
}
.mobile-hidden {
    @media #{$bm} {
        display: none;
    }
}

.desktop-visible {
    @media #{$bd} {
        display: block;
    }
}
.desktop-hidden {
    @media #{$bd} {
        display: none;
    }
}
